@model ResultModel

@{
    Layout = "_Layout";
}

<div>
    @if (@Model.faultTriggered)
    {
        if (@Model.faultCode == faultCode.Unspported)
        {
            <h1>Failed to generate playlist</h1>
            <p>Could not scrape the youtube playlist, check the Id you pasted is complete.<br /> Currently Youtube generated "Mix" playlist are also not supported</p>
        }
        else if (@Model.faultCode == faultCode.ConversionFailed)
        {
            <h1>Oof, the app failed to convert a legit youtube playlist</h1>
            <p>Please inform the poor basterd who made this <br />his app isn't working <a href="mailto:sam.b5687@gmail.com">by sending him an email.</a><br /> Be sure to include the playlist id you used below</p>
            <h2>Original Youtube Playlist: </h2>
            <a href="@Model.YoutubeLink">@Model.YoutubeLink</a>
        }
        else if (@Model.faultCode == faultCode.AuthExpired)
        {
            <h2>So you took too long to find your playlist that your spotify authorization expired?</h2>
            <h2>You'll need to reauthenticate with spotify, click the button below</h2>
            <form id="authBlock" method="post" asp-action="TriggerAuth" asp-controller="Auth">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Authorize Spotify</button>
                </div>
            </form>
        }
    }

</div>


@if (!@Model.faultTriggered)
{
    <h1>Your Converted Spotify Playlist is Ready!</h1>
    <h2>Original Youtube Playlist: </h2>
    <a href="@Model.YoutubeLink">@Model.YoutubeLink</a>
    <h2>New Spotify Playlist: </h2>
    <a href="@Model.SpotifyLink">@Model.SpotifyLink</a>
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Youtube Album Art</th>
                <th scope="col">Youtube Videos Total: (@Model.OriginalYoutubeVideoCount)</th>
                <th scope="col">Spotify Tracks Total: Found: (@Model.FoundSpotifyTracks);</th>
                <th scope="col">Spotify Album Art</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OriginalYoutubeVideoCount; i++)
            {
                int j = i + 1;
                <tr>
                    <th scope="row">@j</th>
                    <td scope="row"><img class="img-fluid img-thumbnail" src="@Model.PlaylistItems[i].OriginalYoutubeObject.ThumbnailURL" /></td>
                    <td scope="row">@Model.PlaylistItems[i].YoutubeArtists - @Model.PlaylistItems[i].SpotifySearchObject.Song</td>
                    <td scope="row">@Model.PlaylistItems[i].SpotifyArtists - @Model.PlaylistItems[i].FoundSpotifyTrack?.Name</td>
                    <td scope="row"><img class="img-fluid img-thumbnail" src="@Model.PlaylistItems[i].FoundSpotifyTrack.Album.Images.First().Url" /></td>
                </tr>
            }
        </tbody>
    </table>
}






