@model ResultModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Result";
}

<div>
    @if (@Model.faultTriggered)
    {
        if (@Model.faultCode == faultCode.Unspported)
        {
            <h1>Failed to generate playlist</h1>
            <p>Could not scrape the youtube playlist, check the Id you pasted is complete.<br /> Currently Youtube generated "Mix" playlist are also not supported</p>
        }
        else if (@Model.faultCode == faultCode.ConversionFailed)
        {
            <h1>Oof, the app failed to convert a legit youtube playlist</h1>
            <p>Please inform the poor basterd who made this <br />his app isn't working <a href="mailto:sam.b5687@gmail.com">by sending him an email.</a><br /> Be sure to include the playlist id you used below</p>
            <h2>Original Youtube Playlist: </h2>
            <a href="@Model.YoutubeLink">@Model.YoutubeLink</a>
        }
        else if (@Model.faultCode == faultCode.AuthExpired)
        {
            <h2>So you took too long to find your playlist that your spotify authorization expired?</h2>
            <h2>You'll need to reauthenticate with spotify, click the button below</h2>
            <form id="authBlock" method="post" asp-action="TriggerAuth" asp-controller="Auth">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Authorize Spotify</button>
                </div>
            </form>
        }
    }

</div>


@if (!@Model.faultTriggered)
{
    <h1>Your Converted Spotify Playlist is Ready!</h1>
    <h2>Original Youtube Playlist: </h2>
    <a href="@Model.YoutubeLink" class="btn" style="width:15em;color:white;background-color:#B2071d"><i class="bi bi-youtube"></i> Open On Youtube</a>
    <h2>New Spotify Playlist: </h2>
    <a href="@Model.SpotifyLink" class="btn" style="width:15em;background-color:#1DB954"><i class="bi bi-spotify"></i> Open On Spotify</a>

    <h3>Youtube Videos Total: (@Model.OriginalYoutubeVideoCount)</h3>
    <div class="container-fluid" style="background-color:brown">
        <div class="row p-1">
            @for (int i = 0; i < Model.OriginalYoutubeVideoCount; i++)
            {
                int count = i + 1;
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
                    <div class="card" style="height:100%">                       
                        <img class="card-img-top img-fluid d-block float-start" style="height:10em;object-fit:contain;background-color:black" src="@Model.PlaylistItems[i].OriginalYoutubeObject.ThumbnailURL" alt="Youtube Thumbnail">
                        <div class="card-body" style="height:100%">
                            <h4 class="card-subtitle mb-2 text-muted"><span class="badge badge-secondary">@count</span></h4>
                            <h5 class="card-title">@Model.PlaylistItems[i].OriginalYoutubeObject.VideoTitle</h5>
                            <h6 class="card-subtitle mb-2 text-muted ">@Model.PlaylistItems[i].YoutubeArtists </h6>
                        </div>
                        <div class="card-body">
                            <a href="https://youtube.com/watch?v=@Model.PlaylistItems[i].OriginalYoutubeObject.VideoId" class="btn btn-danger btn-block">Original Video</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <h3>Spotify Tracks Total: Found: (@Model.FoundSpotifyTracks)</h3>
    <div class="container-fluid" style="background-color:#1DB954">
        <div class="row p-1">
            @for (int i = 0; i < Model.FoundSpotifyTracks; i++)
            {
                string spotifyAlbumArt = "https://img.youtube.com/vi/MSeMERaD1Mk/sddefault.jpg";
                string spotifyAlbumName = "Unable to find album";
                string spotifyTrackURI = "https://www.spotify.com/us/404/";
                string spotifyArtists = "Unable to find artists on Spotify";
                string spotifyFoundSpotifyTrackName = "Unable to find track on spotify";
                int count = i + 1;
                if (Model.PlaylistItems[i].FoundSpotifyTrack != null)
                {
                    spotifyAlbumArt = Model.PlaylistItems[i].FoundSpotifyTrack.Album.Images.First().Url;
                    spotifyAlbumName = Model.PlaylistItems[i].FoundSpotifyTrack.Album.Name;
                    spotifyTrackURI = Model.PlaylistItems[i].FoundSpotifyTrack?.Uri;
                    spotifyArtists = Model.PlaylistItems[i].SpotifyArtists;
                    spotifyFoundSpotifyTrackName = Model.PlaylistItems[i].FoundSpotifyTrack.Name;
                }

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
                    <div class="card" style="height:100%">
                        <img style="height:10em;object-fit: contain;background-color:black;background-image:url(../static/Spotify_Icon_RGB_White.png);background-size:10%;background-repeat:no-repeat;background-position-x:2.5%;background-position-y:3.5%" class="card-img-top img-fluid d-block float-start" src="@spotifyAlbumArt" />
                        <div class="card-body" style="height:100%">
                            <h4 class="card-subtitle mb-2 text-muted"><span class="badge badge-secondary">@count</span></h4>
                            <h5 class="card-title "> @spotifyFoundSpotifyTrackName</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@spotifyArtists</h6>
                            <p class="card-text ">@spotifyAlbumName</p>
                        </div>
                        <div class="card-body">
                            <a href="@spotifyTrackURI" class="btn btn-block" style="background-color:#1DB954"><i class="bi bi-spotify"></i> Listen On Spotify</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}






