@model ResultModel
<div style="display: inline-block; max-width: 100%; vertical-align: top;">
    <ol>
        @if (Model != null)
        {
            <li>Total: (@Model.TotalVideoNames.Count)</li>
            foreach (string songName in Model.TotalVideoNames)
            {
                <li>@songName</li>
            }
        }
    </ol>
</div>

<div style="display: inline-block; max-width: 100%; vertical-align: top;">
    <ol>
        @if (Model != null)
        {
            <li>Found: (@Model.CompletedNames.Where(x => !string.IsNullOrEmpty(x)).Count());</li>
            foreach (string songName in Model.CompletedNames)
            {
                <li>@songName</li>
            }
        }
    </ol>
</div>


<div>
    @if (Model == null)
    {
        <p>Failed to generate playlist</p>
    }
    else
    {
        <p>Your Converted Spotify Playlist is Ready!</p>
        <a href="@Model.SpotifyLink">@Model.SpotifyLink</a>
    }
</div>

